@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #000000;
}


.subscription-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.invitation-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px auto 62px auto;
}

.about-sedona-go-to-advantages {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.pagination {
  display: flex;
  margin: 80px 70px 60px 70px;
  padding: 0;
}

.search-result {
  display: flex;
  width: 1060px;
  margin: 50px 70px 40px 70px;
}

.image {
  display: flex;
}

.search {
  padding: 96px 0;
  max-width: 600px;
  margin: 0 auto;
}

.newsletter {
  background-image: url("../images/main-page/subscription-background-image.jpg");
  background-size: cover;
}

.subscription-text {
  padding: 96px 0 104px 0;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
}

.subscription-text-catalog {
  color: #000000;
  padding: 96px 0 104px 0;
  max-width: 700px;
  margin: 0 auto;
}

.select-control {
  margin-left: 200px;
}

.view {
  margin-left: auto;
  display: flex;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin-right: 70px;
  margin-left: 0;
  padding: 0;
  min-width: 151px;
  border: 0 none;
}

.catalog-filter-price {
  margin-left: 70px;
  margin-right: 0;
  padding: 0;
  border: 0 none;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.about-sedona-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.invitation-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscription-form {
  margin-top: 54px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.navigation-list {
  display: flex;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: 170px;
}

.navigation-logo {
  display: flex;
  width: 140px;
  margin: 0;
  margin-right: 28px;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 0;
}

.navigation-user {
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.main-container {
  flex-grow: 1;
  background-color: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto;

}

.main-text {
  padding: 69px 0;
  margin-bottom: 21px;
}

.navigation-item {
  font-size: 20px;
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  position: relative;
}

.button-want-to-be-here {
  margin-top: 14px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  color: #000000;
}


.main-index-sedona {
  background-color: #a0c8e8ab;
  background-image: url("../images/main-page/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 62px;
}

.invitation-text {
  padding: 96px 0;
}

.advice-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.breadcrumbs-main {
  position: relative;
}

.breadcrumbs-next {
  position: absolute;
  left: 23px;
  top: 0;
  bottom: 0;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advice-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advice-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage {
  margin: 102px auto;
  width: 230px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  gap: 10px;
  text-align: center;
  list-style-type: none;
}

.advice-item {
  width: 400px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  min-height: 385px;
}

.advice-content {
  margin: 81px 85px;
}

.advantages-item-wide {
  background-color: #82B3D3;
  color: #ffffff;
  width: 100%;
  display: flex;
}

.advantages-item:nth-child(2n) {
  background-color: #83B3D31F;
}

.advice-item:nth-child(2n+1) {
  background-color: #83B3D333;
}

.button-search-hotels {
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  width: 376px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 8px 50px;
}

.button-search-hotels:hover {
  background-color: #615048;
}

.button-search-hotel:focus {
  background-color: #756157;
}

.button-search-hotels:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.button-search-hotels:disabled {
  background-color: #E5E5E5;
}

.page-footer {
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.page-header {
  padding: 0 70px;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
}

.footer-social-list {
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.footer-social-item {
  margin-right: auto;
  margin-left: auto;
}

.main-decoration {
  position: absolute;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.button-display {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 0;
  margin: 17px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.display {
  border: solid 2px;
  border-radius: 4px;
  border-color: #E5E5E5;
  margin-right: 8px;
}

.display:hover {
  border-color: #000000;
}

.display:focus {
  border-color: #68A2CA;
}

.display:active {
  border-color: #000000;
}

.display:disabled {
  background-color: #E5E5E5;
}

.display:last-of-type {
  margin-right: 0;
}

.display-current {
  border-color: #000000;
}

.footer-logo {
  display: block;
  text-decoration: none;
  color: #000000;
}

.field {
  font-size: 18px;
  height: 52px;
  width: 452px;
}

.field-catalog {
  background-color: #F2F2F2;
}

.subscription-button {
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  width: 232px;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.subscription-button:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.subscription-button:disabled {
  background-color: #E5E5E5;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  display: flex;
  justify-content: center;
  width: 720px;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #7561574D;
}

.footer-contacts-address-phone:disabled {
  background-color: #E5E5E5;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.inner-header {
  background-image: url("../images/catalog-page/catalog-background-image.jpg");
  background-color: #b97a58;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.catalog-products {
  margin: 0;
  margin-top: 40px;
}

.filter {
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  color: #ffffff;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

.navigation-user-item {
  display: block;
  height: 64px;
}

.breadcrumbs-item {
  list-style-type: none;
  margin: 0;
  padding-right: 28px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 16px;
}

.button-filter {
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.button-submit {
  background-color: #82B3D3;
  width: 191px;
  border-radius: 4px;
  padding: 8px 0;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #68A2CA;
}

.button-submit:focus {
  background-color: #68A2CA;
}

.button-submit:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.button-submit:disabled {
  background-color: #E5E5E5;
}

.button-search {
  display: flex;
  justify-content: center;
}

.button-reset {
  background-color: #82b2d300;
  height: 36px;
  width: 191px;
  border-radius: 4px;
  padding: 8px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border: solid 3px #83B3D3;
}

.button-reset:active {
  color: #FFFFFF4D;
}

.button-reset:disabled {
  background-color: #E5E5E5;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 70px;
  padding: 0;
  gap: 20px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  display: flex;
  margin-top: 16px;
}

.price-input {
  width: 143px;
  height: 48px;
  margin-right: 2px;
}


.price-block {
  margin-right: 0;
  position: relative;
}

.price-start {
  position: absolute;
  top: 12px;
  right: 20px;
}

.buttons {
  margin: 0;
  margin-top: auto;
  margin-left: 70px;
}

.price-end {
  position: absolute;
  top: 12px;
  right: 20px;
}

.results {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 7px 0;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  width: 292px;
}

.product-card {
  background-color: #ffffff;
  border-radius: 4px;
  border-color: rgba(128, 128, 128, 0.773);
  padding: 20px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.product-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-top: 16px;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  margin: 0;
}

.product-card-button-like {
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 8px 0;
  border-radius: 4px;
}

.product-card-button-like:hover {
  background-color: #615048;
}

.product-card-button-like:focus {
  background-color: #756157;
}

.product-card-button-like:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.product-card-button-like:disabled {
  background-color: #E5E5E5;
}

.product-card-link {
  text-decoration: none;
  margin: 0;
  color: #000000;
}

.product-card-button-more {
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 8px 0;
  border-radius: 4px;
}

.product-card-button-more:hover {
  background-color: #68A2CA;
}

.product-card-button-more:focus {
  background-color: #68A2CA;
}

.product-card-button-more:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.product-card-button-more:disabled {
  background-color: #E5E5E5;
}

.like {
  background-color: #7DB54F;
}

.like:hover {
  background-color: #6C9E42;
}

.like:focus {
  background-color: #6C9E42;
}

.like:active {
  color: #FFFFFF4D;
  background-color: #7DB54F;
}

.like:disabled {
  background-color: #E5E5E5;
}


.rating {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 8px 0;
}

.pagination-item {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  list-style-type: none;
  margin: 0;
  margin-right: 8px;
}

.pagination-item:hover {
  background-color: #68A2CA;
}

.pagination-item:focus {
  background-color: #68A2CA;
}

.pagination-item:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

.pagination-item:disabled {
  background-color: #E5E5E5;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link {
  text-decoration: none;
  margin: 0;
  color: #F2F2F2;
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  text-align: center;
}

.pagination-current-link {
  text-decoration: none;
  margin: 0;
  color: #000000;
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  text-align: center;
}

.zero {
  color: #000000;
  background-color: #FFFFFF;
}

.pagination-link-zero {
  color: #000000;
}

.want-to-be-here {
  display: block;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 34px;
  margin-left: 20px;
}

.want-to-be-here:hover {
  background-color: #615048;
}

.want-to-be-here:focus {
  background-color: #756157;
}

.want-to-be-here:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

.want-to-be-here:disabled {
  background-color: #E5E5E5;
}

.footer-logo-svg {
  fill: #000000;
}

.footer-logo-svg:hover {
  fill: #756157
}

.footer-logo-svg:focus {
  fill: #756157
}
.footer-logo-svg:active {
  fill: #7561574D;
}

.footer-svg {
  fill: #83B3D3;
}

.footer-svg:hover {
  fill: #68A2CA;
}

.footer-svg:focus {
  fill: #68A2CA;
}
.footer-svg:active {
  fill: #68A2CA4D;
}
